body{
  margin-top: 0;
  margin-left: 0;
}

header .hero{
  padding: 0;
  margin: 0;
 /* background-color:#008CBA;*/
  background-image: url('https://images.unsplash.com/photo-1592210454359-9043f067919b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size:cover;
  height: 5rem;
  width: 100vw;
} 

h1{
  text-align: left;
  color: #ccc;
  letter-spacing: 0.1rem;
  font-size: 3rem;
  margin: 0;
  margin-left: 1rem;
  padding: 0.5rem;
}

h1 a{
text-decoration: none;
}  

h1 a:visited{
  color: #ccc;
}

.container {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .search-box {
    margin-top: 20px;
    display: flex;
  }
  
  #search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 0;
  }
  
  #search-button {
    padding: 5px 15px;
    background-color: #008CBA;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .current-weather {
    margin-top: 40px;
    border: 5px solid #ccc;
    padding: 50px;
    border-radius: 3px;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    transition: transform 0.2s ease-in;
  }

  .current-weather:hover{
    transform: scale(0.98);
  }
  
  .forecast {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
    padding: 30 20px;
    text-transform: capitalize;
    font-size: 10vw;
    text-align: center;
    line-height: 10vh;
  }
  
  .forecast-item {
    border: 1px solid #ccc;
    padding: 50px;
    width: calc(100% / 3 - 10px);
    border-radius: 3px;
  }
  
  .day-of-week {
    font-weight: 700;
  }

  body {
   background: linear-gradient(#dabdbd, #9198e5);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;  
  }
  

  
